services:
  - type: web
    name: Txt-uploader-1
    plan: free
    env: docker
    dockerfilePath: Dockerfile
    repo: https:    repo: https://github.com/RupakAryan/Txt-uploader-1.git
    branch: main
    autoDeploy: false
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: API_ID
        sync: false
      - key: API_HASH
        sync: false
      - key: OWNER
        sync: false
      - key: CREDIT
        sync: false
      #- key: WEBHOOK
        #sync: false
      - key: PORT
        value: 8000  # Default port value, update if needed
